#/target/
!.mvn/wrapper/maven-wrapper.jar
/target/analysis-news-and-time-0.0.1-SNAPSHOT.jar.original
/target/classes/META-INF/spring-configuration-metadata.json
/target/classes/com/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
